/* General styles */
body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    color: var(--text-color);
    background-color: var(--background-color);
    padding: var(--margin-base);
}

h1, h2 {
    margin-bottom: var(--margin-base);
}

/* Components */
.component {
    margin-bottom: var(--margin-base);
}

.component--hidden {
    display: none;
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    padding: var(--padding-base);
}

.navbar__menu {
    display: flex;
    justify-content: space-around;
}

.navbar__link {
    color: #fff;
    font-size: var(--font-size-base);
    padding: var(--padding-small);
}

/* Buttons */
.button {
    padding: var(--padding-small) var(--padding-base);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--font-size-base);
    background-color: var(--primary-color);
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .button--hovering {
    background-color: var(--secondary-color);
  }
  
  .button--active-click {
    background-color: var(--warning-color);
  }
  
